API_USER=admin
API_PASS=admin
API_PORT=3000

NODE_ENV="development"
DEBUG=true
DGS_PROXY_URL="http://192.168.5.178:86/"
DGS_PROXY2_URL="http://192.168.5.178:86/"

MSSQL_DATABASE_HOST="192.168.5.180"
MSSQL_DATABASE_PORT=1433
MSSQL_DATABASE_NAME="dgsdata"
MSSQL_DATABASE_USER="sportbookdba"
MSSQL_DATABASE_PASSWORD="lumalu"

MONGODB_DATABASE_HOST="vzmover.develop"
MONGODB_DATABASE_PORT=27017
MONGODB_DATABASE_NAME="sportapi"
MONGODB_DATABASE_USER="admin"
MONGODB_DATABASE_PASSWORD="my 53cur3 m0ng0 db"

# -- JWT
JWT_SECRET=YourJwtSecretHere
# -- Admin Token
ADMIN_ACCESS_TOKEN=YourSecureAdminAccessToken1234567
