NODE_ENV="development"
DEBUG=true

APP_NAME = "SPORT API"
APP_DESCRIPTION = "API"
APP_VERSION = "1.0.0"
API_PREFIX="v1"
API_USER=admin
API_PASS=admin
API_PORT=3000

DGS_PROXY_URL="http://192.168.5.178:86/"
DGS_PROXY2_URL="http://192.168.5.178:86/"

MSSQL_DATABASE_HOST_DGS="192.168.5.180"
MSSQL_DATABASE_PORT_DGS=1433
MSSQL_DATABASE_NAME_DGS="dgsdata"
MSSQL_DATABASE_USER_DGS="sportbookdba"
MSSQL_DATABASE_PASSWORD_DGS="lumalu"

MONGODB_DATABASE_HOST="vzmover.develop"
MONGODB_DATABASE_PORT=27017
MONGODB_DATABASE_NAME="sportapi"
MONGODB_DATABASE_USER="admin"
MONGODB_DATABASE_PASSWORD="my 53cur3 m0ng0 db"

TOKEN_SECRET=AdminAccessToken1234567
TOKEN_EXPIRES=3600
PASSWORD_HASH_SALT=10